{% extends 'layout.html' %}

{% block title %}
    Página de Contáctenos
{% endblock %}

{% block content %}
    <h1>Información</h1>
    <br>
    <p>
        Nombre: {{txtNomb}}<br>
        Apellido: {{txtApel}} <br>
        Teléfono: {{txtTel}} <br>
        E-mail: {{txtEmail}} <br>
    </p>

    {% for i in range(6) %}
        <h{{i+1}}> Título en h {{i+1}} </h{{i+1}}>
    {% endfor %}

{% endblock %}