<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<header>
    <img src="{{url_for('static', filename='img/Logo_MisionTIC_UIS.png')}}" alt="Logo Misión TIC UIS.">
    <h3>
    {% block title %}
        Página en Flask - Aprendiendo en Misión TIC UIS
    {% endblock %}
    </h3>
    <hr>
    <ul>
        <li>
            <a href="/">Página de Inicio</a>
        </li>
        <li>
            <a href="{{url_for('informacion')}}">Página de Información</a>
        </li>
        <li>
            <!-- <a href="/contenido.html">Página de Contenido</a> -->
            <a href="{{url_for('contenido')}}">Página de Contenido</a>
        </li>
        <li>
            <a href="{{url_for('contactenos')}}">Página de Contáctenos</a>
        </li>
    </ul>
    <hr>
</header>
<body>
    {% block content %}
        Establecer el contenido...
    {% endblock %}
</body>
</html>


{#

{% extends 'layout.html' %}

{% block title %}
        Página en Flask - Aprendiendo en Misión TIC UIS
{% endblock %}

{% block content %}
        Establecer el contenido...
{% endblock %}

#}